@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');

body {
  background-color: var(--primary-color);
}

body::before {
  content: "";
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  opacity: 0.2;
  width: 100%;
  height: 100%;
 
  position: absolute;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
  position: relative;

  padding: 1rem 0;
  width: 100%;
  text-align: center;
  
}

.menu__item {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1.25rem;
}

.menu__icon {
  margin: 0 1.25rem;
  vertical-align: middle;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;  
}

.card {
  border: 0.5rem solid white;
  width: calc(100% / 3 - 8%);
  height: 70vh;

  position: relative;
  transition: filter .5s ease-in-out;
}

.card__background {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  position: absolute;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  transition: 1s ease-in-out;
}

.card__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: bottom 1s ease-in-out ;
}

.controller {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.controller__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.controller__button:hover {
  transform: scale(1.1);
}

.controller__button:nth-child(2) {
  margin: 0 3.75rem;
}

.controller__line {
  background-color: white;
  width: 50%;
  height: 2px;
  position: absolute;
}

/* Hover Animation */

.card--hovered .card__background {
  cursor: pointer;
  opacity: 0;
}

.card--hovered .card__image {
  transform: scale(1.4);
  filter: drop-shadow(30px 10px 4px rgb(0, 0, 0, .5));
}

body#horizon1-hovered::before {
  background-image: url('/assets/images/rost-background.jpg');
}

body#horizon2-hovered::before {
  background-image: url('/assets/images/aloy-background.jpg');
}

body#horizon3-hovered::before {
  background-image: url('/assets/images/erend-background.jpg');
}

body[id^="horizon"]::before {
  opacity: 1;
}

body[id^="horizon"] .card:not(.card--hovered) {
  filter: grayscale(100%);
}

.card--hovered .card__title {
  bottom: 50%;
}